table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f2f2f2;
    color: black;
}

th, td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: lightblue;
}

tr:nth-child(even) {background-color: #f2f2f2;}