table {
    border-collapse: collapse;
    width: 50%;
}

th {
    background-color: #f2f2f2;
    color: black;
}

.navbar-brand {
    color: white !important;
}

html body {
    background-color: #f2f2f2;
}

th, td {
    text-align: left;
    padding: 15px;
    border-bottom: 2px solid #ddd;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightblue;
}

.moduleList
{
    list-style-type:none;
    border-left: 5px solid red;
}

.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 1.33;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: left;
    padding: 10px;
}



